.d-flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
}
.d-grid {
  display: grid;
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-items: center;
  }
}

.clickable {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-accent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 147, 147);
  width: 2px !important;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** 
* generate padding and margin utility classes
* example: mt-14, pt-14, mt-sm-14 or pt-sm-14
*/
@each $prop, $letter in (margin: m, padding: p) {
  @for $space from 0 to 19 {
    $size: #{$space * $space-multiplier}px;
    .#{$letter}x-#{$space} {
      #{$prop}-left: $size;
      #{$prop}-right: $size;
    }
    .#{$letter}y-#{$space} {
      #{$prop}-top: $size;
      #{$prop}-bottom: $size;
    }
    .#{$letter}a-#{$space} {
      #{$prop}: $size;
    }
    @each $direction, $d in $xy-border {
      .#{$letter}#{$d}-#{$space} {
        #{$prop}-#{$direction}: #{$size};
      }
      @each $break, $breakpoint in $breakpoints {
        .#{$letter}#{$d}-#{$break}-#{$space} {
          @include breakpoint($break) {
            #{$prop}-#{$direction}: #{$size};
          }
        }
        .#{$letter}x-#{$break}-#{$space} {
          @include breakpoint($break) {
            #{$prop}-left: $size;
            #{$prop}-right: $size;
          }
        }
        .#{$letter}y-#{$break}-#{$space} {
          @include breakpoint($break) {
            #{$prop}-top: $size;
            #{$prop}-bottom: $size;
          }
        }
      }
      @each $break, $breakpoint in $breakpointsAndDown {
        .#{$letter}#{$d}-#{$break}-#{$space} {
          @include breakpoint($break) {
            #{$prop}-#{$direction}: #{$size};
          }
        }
        .#{$letter}x-#{$break}-#{$space} {
          @include breakpoint($break) {
            #{$prop}-left: $size;
            #{$prop}-right: $size;
          }
        }
        .#{$letter}y-#{$break}-#{$space} {
          @include breakpoint($break) {
            #{$prop}-top: $size;
            #{$prop}-bottom: $size;
          }
        }
      }
    }
  }
}
